@font-face { 
  font-family: 'ClearSans';
  src: url('../font/ClearSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face { 
  font-family: 'ClearSans';
  src: url('../font/ClearSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face { 
  font-family: 'ClearSans';
  src: url('../font/ClearSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face { 
  font-family: 'ClearSans';
  src: url('../font/ClearSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

