html {
  font-size: 62.5%;
}

body{
	margin: 0px;	
	font-family: ClearSans, sans-serif;
}

time{
	color: #999999;
	font-size: 11px; 
	font-weight: 300;
	line-height: 12px; 
	text-align: left;
}

.radio-image{
	width: 87px;
}

.main-image{
	width: 372px;	
	margin-left: 21px;
}

.main
{
	width: 414px;
	margin-left: auto;
	margin-right: auto;
}

.current-album{
	display: flex;
}

.current-album h1{
	margin:auto;
	vertical-align:middle;
	color:white;
	font-size: 14px;	
	font-weight: 400;
	text-align: left;	
}

.current-song{
	display: flex;
	margin-top: 10px;
}

.current-song h2{
	margin:auto;
	vertical-align:middle;
	color:white;
	text-align: center;
	font-size: 24px;	
	font-size: 2.4rem;
	font-weight: 300;	
	line-height: 12px;
}

.top-menu{
	display: flex;
	margin: 20px 20px 0px 20px;
	height: 101px;	
}

.aside-menu{
	display: flex;
	width: 33%;
	height: 100%;
}

.central-menu{
	display: flex;
	width: 34%;
	height: 100%;
	overflow: auto;
}

.right-menu{
	display: flex;
	width: 33%;	
	height: 100%;
}

.logo-image{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}	

.icon{
	font-size: 26px;
}

.icon-right{
	color: #ffc603;
	margin-left: auto;
    margin-right: 0px;
    margin-bottom: auto;
    margin-top: auto;	
}

.icon-left{
	color: #ffc603;
	margin-left: 0px;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;	
}

.music-controls{
	display: flex;
	height: 196px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.play-control{
	background-color: #ffc603;
	border-radius:50%;
    margin-bottom: auto;
    margin-top: auto;	
    margin-left:5px;
    margin-right:5px;
}

.stop{
	height: 51px;
	width: 51px;
}

.play{
	height: 75px;
	width: 75px;		
}

.next{
	height: 51px;
	width: 51px;
}

.small-stop{
	font-size: 35px;
    margin-top: 7px;	
    margin-left:0px;
}

.small-next{
	font-size: 35px;
    margin-top: 6px;	
    margin-left:4px;
}

.big-play{
	font-size: 51px;
    margin-top: 12px;	
    margin-left: 4px;
}

.dark-section h1{
	margin-top: 0px;
	margin-bottom: 19px;
	color: #d98000;
	margin-left: 21px;
	font-size:22px;
	font-size:2.2rem;	
	font-weight: 100;
	line-height: 12px;
	padding-top: 12px;
}

.dark-section{
	background-color: black;
	color:  white;	
}

.info{
	margin-left: 21px;
	margin-top: 27px;
	margin-bottom: 27px;
	margin-right: 52px;
}

.song-image{
	display: inline-block;
	height: 49px;
	background-color: red;
}

.song-description{
	display: inline-block;
	height: 49px;
	margin-left: 11px;
	color: white;
	font-size: 14px;
	font-weight: 400;
	line-height: 12px;
	text-align: left;	
	top: 0px;
}

.song-description p{
	margin-top: 6px;
	margin-bottom: 6px; 
}

.song-description time{
	margin-top: 6px;
	margin-bottom: 0px; 	
}

.song-name{
	color: #ffffff;
	font-size: 16px; 
	font-weight: 300;
	line-height: 12px; 
	text-align: left;
}

.concert-image{
	display: flex;
	width: 114px;
	float: left;

}

.concert-desc{
	display: flex;	
	flex-direction: column;
	margin-left: 124px;
	color:  #ffffff;
	font-size: 17px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;	
}

.concert-desc p{
	margin-top: 13px;
	margin-bottom: 0px;
	color:  #ffffff;
	font-size: 17px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;
}

.concert-details{
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
}


.more-btn{
	margin-top: 10px;
	margin-bottom: 0px;
	width: 57px;
}

.events{
	display: flex;	
	flex-direction: column;	
	margin-left: 124px;

}

.events h2{
	margin-top: 13px;
	margin-bottom: 0px;
	font-size: 17px;
	font-weight: 300;
	line-height: 18px;
	text-align: left;
}

.events p{
	margin-top: 13px;
	margin-bottom: 0px;
	font-size: 13px;
	line-height: 18px;
	text-align: left;
	color:  #999999;
}
