html {
  font-size: 62.5%;
}

.radio-image{
	width: 8.7rem;
	height: 6.1rem;
}

.main-image{
	width: 18rem;
    height: 18rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.main{
	display:inline-block;
	width:100%;
}