html {
  font-size: 62.5%;
}

body{
	margin: 0px;
}

/*
@font-face:;
*/

header
{
	height: 101px;	
	height: 10.1rem;
}

.radio-image{
	width: 8.7rem;
}

.main-image{
	width: 372px;	
	width: 37.2rem;
	margin-left: 21px;
	margin-left: 2.1rem;	
}

.main
{
	width: 414px;
	width: 41.4rem;
	height: 100%;
}

.text{
	font-family: ClearSans;
}

.current-album{
	display: flex;
	color:white;
	content
	font-size: 14px;	
	font-size: 1.4rem;
}

.current-album h1{
	margin:auto;
	vertical-align:middle;
}

.current-song{
	display: flex;
	color:white;
	text-align: center;
	font-size: 24px;	
	font-size: 2.4rem;
}

.current-song h2{
	margin:auto;
	vertical-align:middle;
}